.root {
  background-color: #fff;

  h1 {
    margin-top: 0;
  }
}

.product {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 20px;

  div {
    outline: 1px solid red;
  }
}

.image {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding: 20px;
}

// .product {
//   &__image {
//     img {
//       width: auto;
//       height: auto;
//       object-fit: contain;
//     }
//   }
// }
