.root {
  margin-bottom: var(--section-offset-vertical);

  h2 {
    margin: 0;
  }
}

.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.subsections {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}
