.root {
  margin-bottom: var(--section-offset-vertical);
}

.list {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}

.link {
  padding: 5px 15px;
  border: 1px solid #e9ecef;
  border-radius: 8px;
  font-size: 14px;
  text-decoration: none;
  color: var(--color-text);
  transition:
    background-color 0.3s ease,
    color 0.3s ease;

  &:hover {
    background-color: #f8f9fa;
  }
}
